@import '../../../ui/common/styles/colors';

$header-height: 50px;

:host {
  display: block;
  height: 100%;
  min-width: 425px;
}

header {
  $border-bottom-width: 1px;

  display: flex;
  height: $header-height - $border-bottom-width;
  align-items: center;
  border-bottom: $border-bottom-width solid $border-color;

  button {
    margin-left: 10px;
  }

  .message {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 10px;

    .icon {
      display: inline-block;
      margin-right: 1px;
    }

    &.reject {
      &,
      .icon {
        color: #d50000;
      }
    }

    &.success {
      &,
      .icon {
        color: #2e7d32;
      }
    }

    &.error {
      &,
      .icon {
        color: #1976d2;
      }
    }
  }
}

section {
  $padding: 10px;

  display: block;
  height: calc(100% - #{$header-height + $padding * 2});
  padding: $padding;
  overflow: auto;
}

.label {
  font-weight: 600;
}

.panel {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.data-row {
  display: flex;

  .value {
    padding-left: 10px;
  }
}

.document {
  display: flex;
  height: 300px;
  margin-bottom: 10px;
  padding: 0 15px;
  justify-content: center;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}
