<section class="filters">
  <dc-declarants-filters
      [filters]="filters"
      (changeFilters)="setFilters($event)"
  ></dc-declarants-filters>
</section>

<section class="table">
  <dc-table-with-paginator
      *ngIf="paginatorSource"
      [columns]="columns"
      [dataSource]="paginatorSource"
  >
    <ng-container *ngIf="actionsTemplate">
      <ng-template
          #actions
          let-entity="entity"
      >
        <ng-container
            [ngTemplateOutlet]="actionsTemplate"
            [ngTemplateOutletContext]="{ declarant: entity }"
        ></ng-container>
      </ng-template>
    </ng-container>

  </dc-table-with-paginator>
</section>

<ng-template
    let-entity="entity"
    #stateTemplate
>
  <dc-declarant-state
      [declarant]="entity"
      (changeState)="replaceDeclarant($event)"
  ></dc-declarant-state>
</ng-template>
