<header>
  Новый пароль
</header>

<section [formGroup]="form">
  <div class="field">
    <dc-user-password-control
        label="Пароль"
        [required]="true"
        formControlName="password"
    ></dc-user-password-control>
  </div>
</section>

<footer>
  <button
      color="primary"
      mat-button
      (click)="cancel.emit()"
  >
    Отмена
  </button>

  <button
      color="primary"
      mat-raised-button
      [disabled]="form.invalid"
      (click)="apply()"
  >
    Сохранить
  </button>
</footer>

<dc-loader-with-backdrop *ngIf="loading"></dc-loader-with-backdrop>
