<header>
  <div class="author">
    <ng-container *ngIf="message.broker; else driverNameTemplate;">
      Брокер: {{ message!.broker.name || message!.broker.login }}
    </ng-container>
    <ng-template #driverNameTemplate>
      Водитель
    </ng-template>
  </div>
  <div class="date">
    {{ message.timestamp | date:'dd.MM.yyyy HH:mm:ss' }}
  </div>
</header>

<section class="text">
  <ng-container *ngFor="let textPart of textParts">
    <a
        *ngIf="textPart.isUrl; else textSimpleTemplate"
        class="text-url"
        [attr.href]="textPart.value"
        target="_blank"
    >
      {{ textPart.value }}
    </a>
    <ng-template #textSimpleTemplate>
      <span class="text-simple">
        {{ textPart.value }}
      </span>
    </ng-template>
  </ng-container>
</section>

<footer class="preview">
  <dc-url-preview
      *ngFor="let url of urls"
      [url]="url"
  ></dc-url-preview>
</footer>
