@import '../../../ui/common/styles/colors';

$button-size: 46px;

:host {
  $padding-top: 5px;

  display: flex;
  width: 100%;
  height: calc(100% - #{$padding-top});
  min-height: 50px;
  padding-top: $padding-top;
  position: relative;
}

textarea {
  $padding: 5px;

  width: calc(100% - #{$button-size + 10px + $padding *2});
  height: calc(100% - #{$padding * 2});
  padding: $padding;
  border: 0;
  resize: none;
  outline: none;
}

.send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $button-size;
  height: 100%;
}

.length {
  display: block;
  position: absolute;
  right: 3px;
  bottom: 5px;
  font-size: 11px;
  color: $light-color;

  &.reached {
    color: $danger-color;
  }
}
