<section class="filters">
  <dc-claims-filters
      [filters]="filters"
      (changeFilters)="setFilters($event)"
  ></dc-claims-filters>
</section>

<section class="table">
  <dc-table-with-paginator
      *ngIf="paginatorSource"
      [columns]="columns"
      [dataSource]="paginatorSource"
  >
    <ng-container *ngIf="actionsTemplate">
      <ng-template
          #actions
          let-entity="entity"
      >
        <ng-container
            [ngTemplateOutlet]="actionsTemplate"
            [ngTemplateOutletContext]="{ claim: entity }"
        ></ng-container>
      </ng-template>
    </ng-container>

  </dc-table-with-paginator>
</section>

<ng-template
    #timestampTemplate
    let-property="property"
>
  <div class="date">
    {{ property | date:'dd.MM.yyyy' }}
  </div>
</ng-template>

<ng-template
    #declarantTemplate
    let-property="property"
>
  <div class="date">
    {{ property.surname + ' ' + property.name + ' ' + property.patronymic }}
  </div>
</ng-template>

<ng-template
    #serviceTypeTemplate
    let-property="property"
>
  <dc-claim-service-type [serviceType]="property"></dc-claim-service-type>
</ng-template>

<ng-template
    #stateTemplate
    let-property="property"
>
  <dc-claim-state [state]="property"></dc-claim-state>
</ng-template>
