$select-width: 200px;
$apply-button-width: 100px;
$indent: 10px;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  height: 100%;
  align-items: center;
}

.query {
  width: calc(100% - #{$select-width * 2 + $apply-button-width + $indent * 3});
  margin-right: $indent;
}

.state,
.only-ma-claims {
  width: $select-width;
  margin-right: $indent;
}

.apply-button {
  width: $apply-button-width;
}
