<form [formGroup]="form">
  <dc-text-control
      placeholder="Поисковый запрос"
      formControlName="query"
      class="query"
  ></dc-text-control>

  <dc-select-control
      placeholder="Заявки"
      formControlName="onlyMyClaims"
      class="only-ma-claims"
  >
    <dc-option [value]="false">все заявки</dc-option>
    <dc-option [value]="true">только мои заявки</dc-option>
  </dc-select-control>

  <dc-select-control
      formControlName="state"
      placeholder="Статус"
      class="state"
  >
    <dc-option [value]="null">все статусы</dc-option>
    <dc-option [value]="CLAIM_STATES_ENUM.START">
      <dc-claim-state [state]="CLAIM_STATES_ENUM.START"></dc-claim-state>
    </dc-option>
    <dc-option [value]="CLAIM_STATES_ENUM.ERROR">
      <dc-claim-state [state]="CLAIM_STATES_ENUM.ERROR"></dc-claim-state>
    </dc-option>
    <dc-option [value]="CLAIM_STATES_ENUM.REJECT">
      <dc-claim-state [state]="CLAIM_STATES_ENUM.REJECT"></dc-claim-state>
    </dc-option>
    <dc-option [value]="CLAIM_STATES_ENUM.SUCCESS">
      <dc-claim-state [state]="CLAIM_STATES_ENUM.SUCCESS"></dc-claim-state>
    </dc-option>
  </dc-select-control>

</form>
