<dc-vertical-form-field class="field">
  <dc-form-field-label
    [label]="label"
    [required]="required"
  ></dc-form-field-label>

  <ng-container sqFormFieldControl>
    <dc-password-control [formControl]="control"></dc-password-control>
  </ng-container>

  <ng-container sqFormFieldErrors>
    <dc-control-error *ngIf="hasError('required')">
      Логин обязателен для заполнения.
    </dc-control-error>

    <dc-control-error *ngIf="hasError('minlength') || hasError('maxlength')">
      Длина пароля должна быть в диапазоне [{{ PASSWORD_MIN_LENGTH }}, {{ PASSWORD_MAX_LENGTH }}].
    </dc-control-error>
  </ng-container>
</dc-vertical-form-field>
